<?xml version="1.0" encoding="utf-8" ?>
<GitPushFilterConfiguration
    TfsBaseUrl="http://localhost:8080"
    LogFile="d:\temp\GitPushFilter.log">
    <Policy
        Collection="2013u4Collection"
        Project="GitPushFilterPlugin"
        Repository="GitPushFilterPlugin">
        <ForcePush>
            <Allowed Group="[TEAM FOUNDATION]\Team Foundation Administrators" />
        </ForcePush>
        <ValidEmails>
            <AuthorEmail matches="*@agtinternational.com" />
            <AuthorEmail matches="*@groupsecurity.com" />
            <AuthorEmail matches="*@agtgermany.com" />
            <CommitterEmail matches="*@agtinternational.com" />
            <CommitterEmail matches="*@agtgermany.com" />
            <CommitterEmail matches="*@groupsecurity.com" />
        </ValidEmails>
    </Policy>
</GitPushFilterConfiguration>